/* Hi Freshmen Title */
.bg-light{
    background-color: darkslategray!important;
    background-attachment:fixed;
}

.navbar-light .navbar-brand{
    color:white;
    font-family: 'Crete Round', serif;
    font-weight: bold;
    font-size: 30px
}
/* Navbar Font */
.navbar-light .navbar-nav .nav-link {
    color:white;
    font-family: 'Crete Round', serif;
    font-weight: bold;
  }
  .carousel-item .d-block{
    margin: auto;
}
#carouselExampleIndicators{
    background-color: lightgray;
    background-attachment:fixed;
}
.notice{
    color:red;
    font-weight: bold;
    text-align: center;
    font-size:30px;
    font-family: 'Crete Round', serif;
}
.col-lg-6{
    padding:auto;
    image-orientation:center;
}
#qrcode{
    padding-left: 80px;
}
.container{
    padding-top:20px;
}
